.login-wrapper {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;            
  width: 100vw;             
  background-color: #f6f6f6;
  box-sizing: border-box;   
  margin: 0;                
  padding: 0;               
}


.login-card {
  background: #fff;
  border-radius: 15px;
  padding: 40px;
  width: 400px;
  max-width: 90%;           
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.logo {
  width: 120px;
  display: block;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.button-group button {
  flex: 1;
  padding: 10px;
  border: 2px solid #f4b400;
  border-radius: 8px;
  background: #f4b400;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.button-group .active {
  background: #f4b400;
  color: white;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.login-btn {
  background: #f4b400;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
}
